{% extends "base.html" %}


{% block title %}Наш блог{% endblock %}

{% block breadcrubms %}
  <ol class="breadcrumb">
    <li class="active">Главная</li>
  </ol>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    {% for post in object_list %}

      <h2 class="post_title">{{ post.headline }}</h2>
      <div class="post-info">
        <div>
          <div class="expand">
            <span class="glyphicon glyphicon-menu-right"></span></div>
          <div class="post-text">
            <em><b>Добавлено в:</b> {{ post.date | date:"l, d.n.Y г. f"}} <b>от</b> {{ post.author }}</em>
          </div>
        </div>
      </div>

      <div class="post-text_2">
      	<p>{{ post.text | linebreaks }}</p>
	<!-- | truncatewords:20 -->
      </div>
    {% empty %}
      <h3>Нет записей</h3>
    {% endfor %}
  </div>
</div>
{% endblock %}
