{% extends "base.html" %}


{% block title %}Наш блог{% endblock %}

{% block breadcrubms %}
  <ol class="breadcrumb">
    <li class="active">Главная</li>
  </ol>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    {% for post in object_list %}

      <h2>{{ post.headline }}</h2>

      <hr>
      <div class="post-info">
        <div>
          <div class="expand">
            <span class="glyphicon glyphicon-menu-right"></span></div>
          <div class="post-text">
            <em>{{ post.date | date:"l, j E Y г. f"}} | {{ post.author }}
          </div>
        </em>
        </div>
      </div>

      <p class="post-text_2">{{ post.text | linebreaks | truncatewords:20 }}</p>


    {% empty %}
      <h3>Нет записей</h3>
    {% endfor %}
  </div>
</div>
{% endblock %}
