body {
  padding-top: 70px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 10px;
  border: 3px solid gainsboro;
}

.caption {
  height: 130px;
  overflow: hidden;
}

.make-like {
  margin-top: 1.5em;
}

.thumbnail {
  padding: 0;
}

footer {
  margin: 35px 0;
}

.col-md-12 .post-text {
  margin-left: 30px;
  padding: 11px 11px 6px 11px;
  background: #eee;
}

.col-md-12 .post-text_2 {
  word-wrap: break-word;
  border: 3px solid #eee;
  margin-left: 30px;
  padding: 6px 12px 12px 12px;
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.col-md-12 .post_title {
	word-wrap: break-word;
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.expand {
  font-size: 1.4em;
}

